{% extends 'potato/base.html' %}

{% block content %}
<div class="card ">
    <div class="card-header">
        <span class="cart-title">Register form:)</span>
    </div>
    <div class="card-block">
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {% if form.errors %}
        <div class="card-danger">{{ form.errors }}</div>
        {% endif %}
        {{ form.as_p }}
        <button type="submit">Register me please :)</button>
    </form>
    </div>
</div>
{% endblock %}